**.after/
**.vscode/
./lib/
./word-lsp
./word
**.DS_Store
**.idea/
**node_modules
**ext/c
**ext/z
**ext/ts
**ext/ext
**.ropeproject/
**notes/
**note/
/luarocks
/lua_modules
/.luarocks
.direnv
.pre-commit-config.yaml
/doc/tags
**ext/sublime
**ext/v
**ext/oc
**ext/helix
**ext/zed
**ext/lsp
**ext/rust-lsp
**ext/nim
**.book/
**null-ls**
**-E
