**.after/
**.vscode/
**.down/
**/*.down
./lib/
**ftdetect/
**syntax/
**before/
**ftplugin/
**after/
down-lsp
down
down-lsp.sh
downls
**.DS_Store
**.lapce/
**.idea/
**node_modules
**ext/c
**ext/z
**ext/ts
**ext/ext
**.ropeproject/
**notes/
/luarocks
/lua_modules
/.luarocks
.direnv
.pre-commit-config.yaml
/doc/tags
**ext/sublime
**ext/v
**ext/oc
**ext/helix
**ext/zed
# **ext/lsp
**ext/rust-lsp
**ext/nim
**.book/
**null-ls**
**-E
